.user-chip {
  display: flex;
  align-items: center;
  background-color: #f6f6f9;
  border-radius: 30px;
  padding: 3px 6px;
  width: fit-content;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #6146c2;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-right: 12px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    .name {
      font-size: 12px;
      font-weight: 500;
      color: #222;
    }

    .email {
      font-size: 10px;
      color: #666;
    }
  }

  .remove-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 12px;
    color: #666;

    &:hover {
      color: #333;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
