.tag {
  display: flex;
  align-items: center;
  background-color: #f6f6f9;
  border-radius: 30px;
  padding: 6px 10px 6px 6px;
  width: fit-content;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .tag {
      font-size: 12px;
      color: #666;
      line-height: 1.2;
    }
  }

  .remove-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    margin-left: 8px;
    color: #666;

    &:hover {
      color: #333;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
