.dropdown-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  border-radius: 10px;
  background: #fbf9fd;
  padding: 10px;

  .selector-label {
    font-size: 16px;
    color: #333;
    margin-bottom: 6px;
    font-weight: 500;
  }

  .selector-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(240, 233, 253, 0.5);
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    height: 24px;

    .selected-value {
      color: #333;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .dropdown-arrow {
      display: flex;
      align-items: center;
      transition: transform 0.2s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 90%;
    left: 12px;
    right: 12px;
    margin-top: 4px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;

    .dropdown-item {
      padding: 10px 20px;
      font-size: 14px;
      color: #333;
      cursor: pointer;

      &:hover {
        background-color: #fbf9fd;
      }

      &.selected {
        background-color: #fbf9fd;
      }
    }
  }

  .disabled {
    cursor: not-allowed;
  }
}
